/* geral */

body, textarea {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

h1,h2,h3 {
    color: #333;
}

p {  
    color: #70747A;
}

/* Navegação */

.section-navebar {
    width: 100%;
    height: 80px;
    background-color: #232A31;
    padding: 0 2em;    
    position: relative;
    box-sizing: border-box;
}

nav {
    position: relative;
}

.navebar-logo {
    width: 50px;
    margin-top: 15px;
}

.navebar-items {
    list-style: none;
    position: absolute;
    display: inline-block;
    height: 80px;
    line-height: 80px;
    margin: 0;
    right: 0;
}

.navebar-items li {

    display: inline-block;
    text-transform: uppercase;
    margin-left: 25px;

    
}

.navebar-items li a {
    color: white;
    text-decoration: none;
    transition: .5s;

}

.navebar-items li:hover {
    color:#a3a0a0;
}

.navbtn {
    padding: 15px 20px;
    background-color: #2cc76a ;
    border-radius: 5px;
    color: #080808;
    font-weight: bold;
    
}

.navbtn:hover {
    background-color: #88dbaa;
}

/* banner */


.outdoor {
    width: 100%;
    height: 100px;
    background-image: url(/img/mainbanner.png);
    background-size: cover;
    background-position: center;
    padding: 10em 0;
    position: relative;

}

.outdoor h1, .outdoor p {
    color: white;
    text-align: center;
    justify-items: center;   
    margin-top: 10px; 
    margin-bottom: 10px; 
}

.outdoor h1 {
    font-size: 54px;
}

.outdoor p {
    font-size: 27px;
    letter-spacing: 4px;
    
}

/* especialidades */

.attributes-container {
    padding: 5em 0;
}

.attributes-container ul {
    display: flex;
    width: 90%;
    position: relative;
    margin-left: auto;
    margin-right:auto;
    padding: 0;
}

.attributes-container ul li {
    flex: 1 1 200px;
    list-style: none;
    text-align: center;
    padding: 20px;
    
}

.fas {
    font-size: 60px;
    margin-top: 15px;

}

.fa-shield-alt{
    color: #2CC76A;
}

.fa-rocket {
    color: #EF3F29;
}

.fa-comments {
    color: #EF8f29;
}


.attributes-container ul li h3 {
    margin-bottom: 25px;
    color: #333;
    
}

.attributes-container ul li p {
    line-height: 24px;
    
}

/* Planos e Precos */

.plan-container {
    padding-bottom: 5em;
    text-align: center;
}

.plan-container h1 {
    font-size: 36px;
    margin-top: 0;
}

.plan-container p {
    font-size: 20px;
}

.plans-container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    width: 90%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.plan {
    flex: 1 1 200px;
    max-width: 275px;
    margin-left: 20px;
    margin-right: 20px;

}

.plan ul {
    padding: 0;
}

.plan li {
    list-style: none;
    height: 50px;
    line-height: 50px;
    background-color: #e8e9ea;
}

.plan .price {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #2CC762;
    color: #fff;
    text-align: center;
    line-height: 120px;
    font-size: 18px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -50px;

}

.plan .plan-name {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #FFF;
    background-color: #202B34;
    padding-top: 50px;
    padding-bottom: 20px;
}

.plan .plan-btn {
    background-color: #2CC762;
    color: #FFF;
    font-size: 24px;
    height: 75px;
    line-height: 75px;
    cursor: pointer;
}

.plan .recommended {
    background-color: #F45C57;

}

/* Buscar dominio */

.search-domain {
    background-color: #34454e;
    text-align: center;
    padding: 5em 0;
}


.search-domain h2 {
    color: #FFF;
    font-size: 42px;
    margin-top: 0;
    margin-bottom: 15px;

}


.search-domain p {
    color: #D5D5D5;
    font-size: 24px;
    margin-bottom: 25px;

}

.search-domain input {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 5px;
}

.search-domain input[type=text] {
    margin-bottom: 25px;
    width: 60%;
    padding: 20px;
    font-size: 20px;
}


.search-domain input[type=submit] {
    background-color: #2cc76a;
    padding: 15px 30px;
    color: #fff;
    font-size: 24px;
}

/* formulario de contato */

.contact-container {
    text-align: center;
    padding-top: 5em;
    padding-bottom: 2em;
}

.contact-container h2 {
    font-size: 36px;
}

.contact-container p {
    font-size: 20px;
    margin-bottom: 40px;
}

.contact-container input, .contact-container textarea {
    width: 200px;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.contact-container textarea {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 468px;
    height: 150px;
}

.contact-container input[type=submit] {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: #2cc76a;
    color: white;
}


footer {
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
}

footer a{
    color: #202B34;
}